/*
 * Globals
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
  text-align: center;
}

.masthead h3, .playerhead h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 50px;
}

.aboutme p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 22px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.GuitarHead {
  /*margin-top: 10px;*/
  /*margin-bottom: 2px;*/
  margin-top: 0;
  padding: auto;
}
.GuitarHead h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.Navbar {
  margin-top: 10px;
  vertical-align: middle;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  /*padding-right: 0;*/
  /*padding-left: 0;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .GuitarHead {
    float: left;
    /*height: 100%;*/
    vertical-align: middle;
  }
  .masthead-nav {
    float: right;
    /*height: 100%;*/
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.cover-img {
  vertical-align: middle;
  display: block;
  margin: auto;
  padding: auto;
}

.cover-img img {
  width: 250px;
  height: 250px;
}

.players {
  display: block;
  margin-top: 40px;
}
.player-img {
  display: inline-table;
  margin: 30px;
}
.player-img img{
  width: 150px;
  height: 150px;
}

.songlist {
  margin-top: 60px;
  text-align: center;
}

/*
 * Footer
 */

.mastfoot, .playerfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (max-width: 992px) {
  .cover-img {
    vertical-align: middle;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: auto;
  }
}

@media (max-width: 768px) {

  .songlist {
    /*margin-top: 20px;*/
    margin: 20px;
    padding: 20px;
    /*display: inline-table;*/
    text-align: center;
    /*width: 100%;*/
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .songlist ul {
    list-style-type: none;
    max-width: 300px;
    margin: auto;
    padding: auto;
    text-align: center;
  }



  .songlist li img {
    margin-right: 20px;
    margin-top: 10px;
    max-width: 200px;
    height: 80px;
    border-radius: 10px;
  }



  .songlist li {
    float: left;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    /*display: table;*/
    width: 200px;
    /*margin: 10px;*/
    margin-right: 50px;
    margin-left: 20px;
  }

}

@media (min-width: 768px) {
 /* /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .playerhead {
    position: relative;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .playerfoot {
    position: relative;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .playerhead,
  .playerfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 768px) {
  .masthead,
  .mastfoot,
  .playerhead,
  .playerfoot,
  .cover-container {
    width: 700px;
  }
}


/* Rotate image */
.rotate {
  animation: roll 15s infinite; 
  transform: rotate(360deg);
  opacity: .9;
}

.rotate:hover{
  opacity: .3;
  animation-play-state: paused;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* hover text */
a.hovertext {
    position: relative;
    width: 250px;
    text-decoration: none !important;
    text-align: center;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 40px;
}
a.hovertext:after {
    content: attr(instru);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5em 20px;
    width: 250px;
    text-decoration: none !important;
    color: #fff;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}
a.hovertext:hover:after, a.hovertext:focus:after {
    opacity: 1.0;
}

a.playertext {
    position: relative;
    width: 150px;
    text-decoration: none !important;
    text-align: center;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 25px;
}
a.playertext:after {
    content: attr(instru);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5em 20px;
    width: 150px;
    text-decoration: none !important;
    color: #fff;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}
a.playertext:hover:after, a.playertext:focus:after {
    opacity: 1.0;
}

/* list style */

.songlist ul {
  list-style-type: none;
  width: 700px;
  margin: 0;
  margin-left: -30px;
  padding: 0;
}



.songlist li img {
  float: left;
  vertical-align: middle;
  margin-right: 20px;
  margin-top: 10px;
  width: 80px;
  height: 80px;
  border-radius: 10px;
}



.songlist li {
  float: left;
  padding: 10px;
  border-radius: 10px;
  width: 350px;
}

.songlist li h3, .songlist li p {
  text-align: left;
}

.InfoNav ul {
  list-style-type: none;
  /*width: 1200px;*/
  white-space: nowrap;
  margin: 0;
  padding: 0;
  text-align: center;
}
.InfoNav ul li {
  display: inline-block;
  margin: auto;
  padding: auto;
}
.InfoNav {
  text-align: center;
}
.mylabel {
  font-size: 15px;
}

/* guitar img */

.ContentImg img {
  /*display: inline-block;*/
  width: 200%;
  /*float: right;*/
}

/* about me */
.aboutme ul {
  list-style-type: none;
}

.aboutme ul li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
}
